{% extends "accounts/main.html" %}
{% load static %}

{% block contents %}

<div class="row">
    <div class="col">
        <div class="card card-body">
            <div class="alert alert-primary" role="alert">
                <h3>PRODUCTS</h3>
              </div
          </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
      </table>
</div>


{% endblock %}



